<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dear Universe</title>

    <!-- Link CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    

</head>
<body>

    <header class="hero">
        <h1>DEAR UNIVERSE</h1>
        <p>Timeless fashion. Unisex. Bold.</p>

       
    
        <div class="buttons">
            <a href="{{ url_for('shop') }}" class="btn">View Collection</a>

            <a href="{{ url_for('contact') }}" class="btn outline">Contact Us</a>

            <a href="{{ url_for('about') }}" class="btn outline">About Us</a>
        </div>
    </header>

        <Marquee> Get ready to connect with the cosmos and unlock  mysteries of the universe. Prepare for something truly out of this world. Dear Universe is Coming soon !!!!!</Marquee>
   
 <footer>
    <p>© 2026 Dear Universe. All rights reserved. </p>
</footer>
</body>
</html>

